// Global styling for this template
body,
html {
  width: 100%;
  height: 100%;
}

body {
  @include serif-font;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: $primary;
}

hr.light {
  border-color: $white;
}

a {
  color: $primary;
  @include transition-all;
  &:hover {
    color: darken($primary, .1);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include sans-serif-font;
}

.bg-primary {
  background-color: $primary !important;
}

.bg-dark {
  background-color: $gray-900 !important;
}

.text-faded {
  color: fade-out($white, .3);
}

section {
  padding: 8rem 0;
}

.section-heading {
  margin-top: 0;
}

::-moz-selection {
  color: $white;
  background: $gray-900;
  text-shadow: none;
}

::selection {
  color: $white;
  background: $gray-900;
  text-shadow: none;
}

img::selection {
  color: $white;
  background: transparent;
}

img::-moz-selection {
  color: $white;
  background: transparent;
}

body {
  -webkit-tap-highlight-color: $gray-900;
}

// GABRIEL
.mtk-red {
  color: #f05f40 !important;
}

.mtk-title {
  color: #eee !important; 
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.90) !important;
}

.mtk-subtitle {
  color: #eee !important; 
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.99); 
  margin-bottom: 0 !important
}

.mtk-menu {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.59) !important;
}

.mtk-title-menu {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.19) !important;
}

.mtk-shadow-text {
  color: #fff !important; 
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.50) !important;
}

